@mixin rwd-sm {
  @include media-breakpoint-up(sm) {
    @content;
  }
}
@mixin rwd-md {
  @include media-breakpoint-up(md) {
    @content;
  }
}
@mixin rwd-lg {
  @include media-breakpoint-up(lg) {
    @content;
  }
}
@mixin rwd-xl {
  @include media-breakpoint-up(xl) {
    @content;
  }
}

// bg-image
@mixin background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
