$utilities: map-merge(
  $utilities,
  (
    // 文字 賦予 斷點
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
    // 透明度 賦予 斷點
    "opacity":
      (
        property: opacity,
        responsive: true,
        values: (
          0: 0,
          25: 0.25,
          50: 0.5,
          75: 0.75,
          100: 1,
        ),
      )
  )
);

@import "bootstrap/scss/utilities/api";
