.shopping-bg {
  //   background-image: url(/assets/images/FinalCTA_bg_img.jpg);
  background-image: url(/assets/images/FinalCTA_bg_mobile.png);
  @include rwd-sm {
    background-image: url(/assets/images/FinalCTA_bg_img.jpg);
  }
  @include background-image;
}

.shopping-bg-height {
  height: calc(100vh - 44px);
  @include rwd-sm {
    height: calc(100vh - 288px);
  }
}
